*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.item{
    display: flex;
    width: calc(100%/6);
    height: 200px;
    border: 1px solid rgb(233, 230, 230);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.bd-radius{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color:rgba(207, 203, 203, 0.829);
    display: flex;
    justify-content: center;
    align-items: center;
}
